<div class="bar bar-header bar-balanced">
  <h1 class="title">HISTORY</h1>
</div>

<div class="list bar-subheader">
<a ui-sref="login"><button class="button icon-left ion-home">Home</button></a>
<a ui-sref="history"><button class="button icon-left ">History</button></a>
  <a ui-sref="list"><button class="button icon-left ">List</button></a>
  <a ui-sref="Search"><button class="button icon-left ">Search</button></a>
  <div class="item item-avatar">
    <img src="img/12.jpg">
    <h2>Natthaphol Phollun</h2>
    <p>Slranatt</p>
  </div>

  <div class="item item-body">
    <img src="img/11.jpg">
	<p> Natthaphol Phollun </p>
	<p> April 27 1998 </p>
	<p>Information Technology Department</p>
	<p>Group.E56</p>
     
    </p>
    <p>
      <a href="#" class="subdued">130 Like</a>
      <a href="#" class="subdued">15 Comments</a>
    </p>
  </div>

</div>
